@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
}
#menu_hamburguer {
    display: none;
    font-size: 32px;
    cursor: pointer;
}
menu{
    display: flex;
    height: 70px;
    justify-content: space-around;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}
.logo_getinfo img{
    margin-top: 10px;
    width: 140px;
}
nav{
    display: flex;
    align-items: center;
    gap: 25px;
}
.a_hover {
    text-decoration: none; 
    color: #333; 
    position: relative; 
    text-transform: uppercase;
    transition: color 0.3s ease; 
}

.a_hover:hover {
    color: #F15B43; 
}
.botao_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F15B43; 
    color: #fff; 
    height: 30px;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 14px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.botao_header a{
    color: white;
    text-decoration: none;
}
.botao_header:hover{
    transform: scale(1.005); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
}
/*main*/
main{
    margin-top: 150px;
}
.img img{
    border-radius: 50%;
    height: 400px;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container_sobre_mim{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
#skills {
    text-align: center;
  }
  
  #skills h2 {
    margin-top: 20vh;
    font-size: 2em;
    color: #F15B43;
    margin-bottom: 20px;
  }
  
  .skills-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .skill:hover {
    transform: scale(1.1);
  }
  
  .skill i{
    font-size: 2.5em;
    color: #F15B43;
  }
  
  .skill p {
    margin-top: 5px;
    font-size: 1em;
    color: #333;
  }
  /*projetos*/
  .container_projetos{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .img_projetos img{
    width: 300px;
    border-radius: 15px;
  }
  .botoes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .btn {
    text-decoration: none;
    padding: 8px 16px;
    font-size: 0.9em;
    color: #fff;
    background-color: #F15B43;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #f15a43c0;
  }
  